* {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

html {
    height: 100%;
}

body {
    background: #000;
    height: 100%;
    text-align: center;
}
