*{margin:0;padding:0;border:0;border-radius:0;background:transparent}html{height:100%}body{background:#000;height:100%;text-align:center}.MainCanvas{position:absolute;top:50%;left:50%;width:0;height:0;margin:auto}.MainCanvas-canvas{vertical-align:top;position:absolute}